.card {
  background: #fff;
  border-radius: 10%;
  height: 25%;
  margin: auto;
  position: relative;
  width: 75%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 10px;
}
